
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
  	<% if !uzytkownik_signed_in? && request.fullpath!='/uzytkowniks/sign_in' && request.fullpath!='/uzytkowniks/sign_up'%>
	 <script type="text/javascript">
		//alert("<%= request.fullpath %>");
		//if(window.location!="/uzytkowniks/sign_in/"){ 
		//alert(<%= request.fullpath %>); }
		window.location.href="/uzytkowniks/sign_in/"; 
	</script>
	 <% end %>
	<div class="navbar navbar-fixed-top">
    <%= render 'layouts/header' %>
	</div>
	<div>
	   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> 
	</div>
    <div class="container-fluid">

	<% if params[:controller] == 'lista_plikow' %>
	   <div class="span3">
			<%= render 'layouts/sidebar' %>
	   </div>
	 <div class="span9"><%= yield %></div>

	 <% else %>
	 	   <div>
			<%= yield %>
	   </div>
	 <% end %>

  </body>
</html>