
<h1>Uploadowanie plików</h1>

<table id="tabcia">
  <tr>   
	<th id="hidden">ID</th>
    <th>Nazwa</th>
    <th>Data dodania</th>
    <th>Autor</th>
    <th>Projekt</th>
	<th>Widoczność</th>
    <th>Zmiany</th>
  </tr>

<% @pliki.each do |plik| %>
  <tr>    
	<td id="hidden"><%= plik.idPlik%></td>
    <td><%= plik.sciezka%></td>
    <td><%= plik.created_at %></td>
    <td><%= plik.user_email %></td>
    <td><%= publiczny(plik.publiczny) %></td>
    <td><%= plik.projektID %></td>
    <td><%= klodka(plik.tylkoOdczyt) %></td>	
  </tr></a>
<% end %>
</table>

<br />

<script type="text/javascript">
$(document).ready(function(){
		$('tr').click(function () {		
			aktywneId = $(this).children().first().html();
			$(this).siblings('tr').removeClass('hilite');
			$(this).toggleClass('hilite');
			var link =  "/lista_plikow/" + aktywneId;
			$('#wiecej').attr('href',link);	
			//alert(link);
			$('#usun').click(function(){ 			$.ajax({
															url: link,
															type: "DELETE",
															success: function(result){
																location.reload();
															}
													});

		});
});
});
	
	$("tr").dblclick( function () { 
		var link =  "/lista_plikow/" + $(this).children().first().html();
		window.location.href=link; 
	});
</script>