
<h1>Uploadowanie plików</h1>

<table>
  <tr>   
    <th>Nazwa</th>
    <th>Data dodania</th>
    <th>Autor</th>
    <th>Projekt</th>
	<th>Widoczność</th>
    <th>Zmiany</th>
  </tr>

<% @pliki.each do |plik| %>
  <tr>    
    <td><%= plik.sciezka%></td>
    <td><%= plik.created_at %></td>
    <td><%= plik.user_email %></td>
    <td><%= plik.projektID %></td>
    <td><%= publiczny(plik.publiczny) %></td>
    <td><%= klodka(plik.tylkoOdczyt) %></td>	
  </tr></a>
<% end %>
</table>

<br />


<%= link_to 'dodaj nowy plik', new_lista_plikow_path %>
